/mvnw text eol=lf
*.cmd text eol=crlf

# Prioritize Java
*.java linguist-detectable=true

# Reduce frontend influence a bit
public/js/* linguist-vendored=true
public/css/* linguist-vendored=true
templates/* linguist-vendored=false
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true

# Ignore generated/minified assets
*.min.js linguist-vendored=true
*.min.css linguist-vendored=true